In [2]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [3]:
d = pd.read_excel('C:/Users/praka/Desktop/mavoix/Data_Science_2020_v2.xlsx')

In [4]:
d

,Application_ID,Current City,Python (out of 3),R Programming (out of 3),Data Science (out of 3),Other skills,Institute,Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10
0,DS0001,Bangalore,1,0,3,"Machine Learning, Arduino, C Programming, CSS,...",Global Academy of Technology,Bachelor of Engineering (B.E),Electrical and Electronics Engineering,2019,NaN,7.73/10,NaN,NaN
1,DS0002,Mumbai,2,1,2,"AutoCAD, MS-Office, Machine Learning, Microsof...","Aegis School Of Business, Data Science, Cyber ...",NaN,PGP,2020,NaN,68.00/100,NaN,NaN
2,DS0003,Mumbai,2,0,0,"C++ Programming, Data Structures, Image Proces...","VJTI, Mumbai",Bachelor of Technology (B.Tech),Information Systems,2018,NaN,8.85/10,91.40/91.40,9.40/9.40
3,DS0004,Dhanbad,2,0,2,"Algorithms, C++ Programming, Data Structures, ...",IIT (ISM) Dhanbad,Integrated M.Tech,Mathematics and Computing,2021,NaN,8.40/10,91.80/91.80,10.00/10.00
4,DS0005,Bangalore,2,0,0,"MS-Word, Python, SQL, MS-Excel",Vvce,Bachelor of Engineering (B.E),Electronics and Communication,2018,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,DS0607,Pune,2,2,2,"AutoCAD, MS-Excel, Deep Learning, Machine Lear...",Defour Analytics,Bachelor of Engineering (B.E),Data Science,2020,NaN,9.00/10,NaN,NaN
607,DS0608,Bangalore,1,0,0,"MS-Excel, HTML, Python, SQL",International Institute Of Information Technology,PG Diploma in Data Science,Data Science,2020,NaN,NaN,NaN,NaN
608,DS0609,Delhi,2,2,0,"Data Analytics, Machine Learning, Natural Lang...",Quantum University,Bachelor of Technology (B.Tech),Mechanical Engineering,2016,NaN,61.00/100,67.00/67.00,NaN
609,DS0610,Bangalore,3,2,2,"Data Analytics, Machine Learning, Python, C Pr...","College Of Applied Science IHRD, Malampuzha",Bachelor of Science (B.Sc),Computer Science And Mathematics,2018,NaN,NaN,NaN,NaN
610,DS0611,Thrissur,2,2,0,"Computer Vision, Data Analytics, Image Process...",Amrita,Master of Technology (M.Tech),E Learning Technologies,2016,7.15/10,NaN,84.00/84.00,80.00/80.00

In [6]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 611 entries, 0 to 610
Data columns (total 14 columns):
Application_ID                611 non-null object
Current City                  611 non-null object
Python (out of 3)             611 non-null int64
R Programming (out of 3)      611 non-null int64
Data Science (out of 3)       611 non-null int64
Other skills                  601 non-null object
Institute                     611 non-null object
Degree                        575 non-null object
Stream                        580 non-null object
Current Year Of Graduation    611 non-null int64
Performance_PG                128 non-null object
Performance_UG                533 non-null object
Performance_12                363 non-null object
Performance_10                339 non-null object
dtypes: int64(4), object(10)
memory usage: 67.0+ KB

In [9]:
for i in d.head().iterrows():
    print(i)

(0, Application_ID                                                           DS0001
Current City                                                          Bangalore
Python (out of 3)                                                             1
R Programming (out of 3)                                                      0
Data Science (out of 3)                                                       3
Other skills                  Machine Learning, Arduino, C Programming, CSS,...
Institute                                          Global Academy of Technology
Degree                                            Bachelor of Engineering (B.E)
Stream                                   Electrical and Electronics Engineering
Current Year Of Graduation                                                 2019
Performance_PG                                                              NaN
Performance_UG                                                          7.73/10
Performance_12                                                              NaN
Performance_10                                                              NaN
Name: 0, dtype: object)
(1, Application_ID                                                           DS0002
Current City                                                             Mumbai
Python (out of 3)                                                             2
R Programming (out of 3)                                                      1
Data Science (out of 3)                                                       2
Other skills                  AutoCAD, MS-Office, Machine Learning, Microsof...
Institute                     Aegis School Of Business, Data Science, Cyber ...
Degree                                                                      NaN
Stream                                                                      PGP
Current Year Of Graduation                                                 2020
Performance_PG                                                              NaN
Performance_UG                                                        68.00/100
Performance_12                                                              NaN
Performance_10                                                              NaN
Name: 1, dtype: object)
(2, Application_ID                                                           DS0003
Current City                                                             Mumbai
Python (out of 3)                                                             2
R Programming (out of 3)                                                      0
Data Science (out of 3)                                                       0
Other skills                  C++ Programming, Data Structures, Image Proces...
Institute                                                          VJTI, Mumbai
Degree                                          Bachelor of Technology (B.Tech)
Stream                                                      Information Systems
Current Year Of Graduation                                                 2018
Performance_PG                                                              NaN
Performance_UG                                                          8.85/10
Performance_12                                                      91.40/91.40
Performance_10                                                        9.40/9.40
Name: 2, dtype: object)
(3, Application_ID                                                           DS0004
Current City                                                            Dhanbad
Python (out of 3)                                                             2
R Programming (out of 3)                                                      0
Data Science (out of 3)                                                       2
Other skills                  Algorithms, C++ Programming, Data Structures, ...
Institute                                                     IIT (ISM) Dhanbad
Degree                                                        Integrated M.Tech
Stream                                                Mathematics and Computing
Current Year Of Graduation                                                 2021
Performance_PG                                                              NaN
Performance_UG                                                          8.40/10
Performance_12                                                      91.80/91.80
Performance_10                                                      10.00/10.00
Name: 3, dtype: object)
(4, Application_ID                                        DS0005
Current City                                       Bangalore
Python (out of 3)                                          2
R Programming (out of 3)                                   0
Data Science (out of 3)                                    0
Other skills                  MS-Word, Python, SQL, MS-Excel
Institute                                               Vvce
Degree                         Bachelor of Engineering (B.E)
Stream                         Electronics and Communication
Current Year Of Graduation                              2018
Performance_PG                                           NaN
Performance_UG                                           NaN
Performance_12                                           NaN
Performance_10                                           NaN
Name: 4, dtype: object)

In [13]:
d.head(1)['Python (out of 3)'].values[0]

1

In [17]:
d.head(1)['Degree'].values[0]

'Bachelor of Engineering (B.E)'

In [29]:
d.head(1)['Other skills'][0]

'Machine Learning, Arduino, C Programming, CSS, Data Analytics, Data Structures, Deep Learning, HTML, Natural Language Processing (NLP), MATLAB, Python'

In [59]:
skills=[]
for i in range(len(d)):
    os=d.iloc[i]['Other skills']
    if(type(d.iloc[i]['Other skills']) == str):
        os = os.split(', ')
        for j in os:
            if j not in skills:
                skills.append(j)

In [48]:
type(d.iloc[26]['Other skills']) == str

True

In [60]:
skills

['Machine Learning',
 'Arduino',
 'C Programming',
 'CSS',
 'Data Analytics',
 'Data Structures',
 'Deep Learning',
 'HTML',
 'Natural Language Processing (NLP)',
 'MATLAB',
 'Python',
 'AutoCAD',
 'MS-Office',
 'Microsoft Azure',
 'MySQL',
 'SolidWorks',
 'R Programming',
 'C++ Programming',
 'Image Processing',
 'Algorithms',
 'Computer Vision',
 'Java',
 'Android',
 'MS-Word',
 'SQL',
 'MS-Excel',
 'GitHub',
 'JavaScript',
 'STATA',
 'OpenCV',
 'PostgreSQL',
 'English Proficiency (Spoken)',
 'SPSS',
 'Data Science',
 'Eclipse (IDE)',
 'Database Management System (DBMS)',
 'Linux',
 'Catia',
 'Statistical Modeling',
 'Tableau',
 'Embedded Systems',
 'Bootstrap',
 'Flask',
 'LARAVEL',
 'Node.js',
 'PHP',
 'Stripe Payment API',
 'Video Editing',
 'Heroku',
 'Unix',
 'Amazon Web Services (AWS)',
 'Apache Cassandra',
 'Apache Kafka',
 'BIG DATA ANALYTICS',
 'Cloud Computing',
 'Hadoop',
 'MongoDB',
 'Shell Scripting',
 'MS-PowerPoint',
 'Mathematics',
 'MS SQL Server',
 'Computer Networking',
 'WordPress',
 'Visual Basic (VB)',
 'English Proficiency (Written)',
 'Hindi Proficiency (Spoken)',
 'Malayalam',
 'Artifical Intelligence',
 'ASP.NET',
 'C#',
 'PLC SCADA',
 'VHDL',
 'Apache',
 'SQLite',
 'Google Analytics',
 'Adobe Photoshop',
 'JSON',
 'Django',
 'Neural Networks',
 'Digital Marketing',
 'XML',
 'AngularJS',
 'SAS',
 'SAP',
 'GNU Octave',
 'jQuery',
 'Hibernate (Java)',
 'Spring MVC',
 'Ethical Hacking',
 'French Proficiency (spoken)',
 'Adobe Premiere Pro',
 'Financial Modeling',
 'Microsoft Visual Studio',
 'Power BI',
 'Adobe Illustrator',
 'iOS',
 '.NET',
 'Adobe Photoshop Lightroom CC',
 'C#.NET',
 'NoSQL',
 'Hindi Proficiency (Written)',
 'Jenkins',
 'Internet of Things (IoT)',
 'Social Media Marketing',
 'Linear Programming',
 'Google AdWords',
 'ReactJS',
 'Articulate Storyline',
 'Audacity',
 'Email Marketing',
 'Minitab',
 'Autodesk Inventor',
 'Oracle',
 'ArcGIS',
 'Telugu Proficiency (Spoken)',
 'Tally',
 'Adobe Dreamweaver',
 'Computer Networks',
 'Atmel AVR',
 'Redux',
 'Event Management',
 'Physics',
 'JSP',
 'Servlets',
 'Search Engine Optimization (SEO)',
 'Software Testing',
 'Analog And Digital Circuits',
 'Docker',
 'Git SVN',
 'CCNA',
 'Report Writing',
 'Salesforce',
 'Accounting',
 'CorelDRAW',
 'Adobe XD',
 'Firebase',
 'UI & UX Design',
 'Windows Mobile Application Development',
 'Raspberry Pi',
 'Robotics',
 'Photography',
 'Amazon Web Server (AWS)',
 'Elasticsearch',
 'EAGLE',
 'LabVIEW',
 'ANSYS',
 'LaTeX',
 'User Interface (UI) Development',
 'REST API',
 'Hindi Proficiency(Spoken)',
 'Creative Writing',
 'Teaching',
 'J2EE',
 'Autodesk SketchBook',
 'Blockchain',
 'Database Testing',
 'Six Sigma',
 'Telugu Proficiency (Written)',
 'Digital Signal Processing',
 'NI Multisim',
 'Proteus Design Suite',
 'Golang',
 'AJAX',
 'Adobe Flash',
 'Kotlin',
 'Angular 2.0']

In [61]:
len(skills)

166

In [116]:
Other_skills=['Amazon Web Services (AWS)','MS SQL Server','SQLite','Neural Networks','Amazon Web Server (AWS)','NoSQL','Machine Learning','Deep Learning','Natural Language Processing (NLP)','MySQL','SQL','MS-Excel','PostgreSQL','Statistical Modeling']

In [87]:
w=[]
for i in range(len(d)):
    weightage = 0

    if(d.iloc[i]['Python (out of 3)']==3):
        weightage +=10
    elif(d.iloc[i]['Python (out of 3)']==2):
        weightage += 7
    elif(d.iloc[i]['Python (out of 3)']==1):
        weightage += 3
    print('Python : ',weightage)


    if(d.iloc[i]['R Programming (out of 3)']==3):
        weightage +=10
    elif(d.iloc[i]['R Programming (out of 3)']==2):
        weightage += 7
    elif(d.iloc[i]['R Programming (out of 3)']==1):
        weightage += 3
    print('R : ',weightage)


    if(d.iloc[i]['Data Science (out of 3)']==3):
        weightage +=10
    elif(d.iloc[i]['Data Science (out of 3)']==2):
        weightage += 7
    elif(d.iloc[i]['Data Science (out of 3)']==1):
        weightage += 3
    print('DS : ',weightage)


    if((d.iloc[i]['Degree']=='Bachelor of Engineering (B.E)') or (d.iloc[i]['Degree']=='Bachelor of Technology (B.Tech)') or (d.iloc[i]['Degree']=='B.Tech (Hons.)') or (d.iloc[i]['Degree']=='Integrated B.Tech')):
        if(d.iloc[i]['Current Year Of Graduation'] == 2020 ):
            weightage += 10
        if(d.iloc[i]['Current Year Of Graduation'] == 2019 ):
            weightage += 8
        if(d.iloc[i]['Current Year Of Graduation'] <= 2018 ):
            weightage += 5

    if((d.iloc[i]['Degree']=='Integrated M.Tech') or (d.iloc[i]['Degree']=='Master of Science (M.Sc)') or (d.iloc[i]['Degree']=='Master of Technology (M.Tech)') or (d.iloc[i]['Degree']=='Integrated M.Sc.') or (d.iloc[i]['Degree']=='Master of Science (M.Sc) (Hons.)')):
        if(d.iloc[i]['Current Year Of Graduation'] == 2020 ):
            weightage += 7
        if(d.iloc[i]['Current Year Of Graduation'] <= 2019 ):
            weightage += 3

    print(weightage)

    os=d.iloc[i]['Other skills']
    if(type(os) == str):
        os = os.split(', ')
        for j in os:
            if j in Other_skills:
                print(j)
                weightage += 3
    w.append(weightage)

Python :  3
R :  3
DS :  13
21
Machine Learning
Deep Learning
Natural Language Processing (NLP)
Python :  7
R :  10
DS :  17
17
Machine Learning
MySQL
Deep Learning
Python :  7
R :  7
DS :  7
12
Python :  7
R :  7
DS :  14
14
Natural Language Processing (NLP)
Deep Learning
Machine Learning
MySQL
Python :  7
R :  7
DS :  7
12
SQL
MS-Excel
Python :  7
R :  14
DS :  14
14
SQL
Python :  0
R :  0
DS :  3
3
Deep Learning
Machine Learning
Python :  7
R :  14
DS :  14
19
Natural Language Processing (NLP)
SQL
Python :  7
R :  7
DS :  10
10
MySQL
Deep Learning
Machine Learning
Python :  0
R :  0
DS :  0
0
PostgreSQL
Python :  3
R :  3
DS :  6
6
MS-Excel
Machine Learning
Python :  3
R :  10
DS :  17
20
MS-Excel
Machine Learning
SQL
Python :  0
R :  0
DS :  0
5
SQL
Python :  0
R :  0
DS :  0
5
Python :  10
R :  10
DS :  20
20
Machine Learning
MySQL
Statistical Modeling
Python :  0
R :  0
DS :  0
8
Python :  7
R :  7
DS :  10
10
MySQL
PostgreSQL
SQL
Machine Learning
Python :  0
R :  0
DS :  0
0
MS-Excel
Python :  7
R :  7
DS :  14
14
Machine Learning
Natural Language Processing (NLP)
SQL
Python :  3
R :  3
DS :  3
3
MS-Excel
SQL
Python :  3
R :  6
DS :  9
17
Machine Learning
Python :  7
R :  7
DS :  7
17
Python :  10
R :  10
DS :  10
18
SQL
Amazon Web Services (AWS)
Python :  10
R :  13
DS :  20
28
Machine Learning
SQL
Python :  10
R :  10
DS :  17
27
Machine Learning
MS SQL Server
MySQL
SQL
Python :  0
R :  0
DS :  0
5
Python :  7
R :  7
DS :  14
19
MS-Excel
Machine Learning
SQL
Python :  7
R :  7
DS :  7
7
MS-Excel
SQL
Python :  7
R :  7
DS :  14
14
Machine Learning
Python :  0
R :  0
DS :  0
0
Python :  7
R :  7
DS :  14
22
Machine Learning
SQL
Python :  7
R :  14
DS :  21
29
Machine Learning
Natural Language Processing (NLP)
Python :  3
R :  3
DS :  3
3
MS-Excel
Python :  3
R :  3
DS :  3
13
MS-Excel
MySQL
Python :  7
R :  14
DS :  21
21
Machine Learning
Deep Learning
Natural Language Processing (NLP)
Python :  7
R :  7
DS :  17
22
Machine Learning
SQL
Statistical Modeling
Python :  0
R :  0
DS :  0
7
MS-Excel
Python :  7
R :  7
DS :  10
10
Machine Learning
Python :  0
R :  0
DS :  0
0
Python :  7
R :  14
DS :  21
24
Machine Learning
Statistical Modeling
Python :  7
R :  14
DS :  21
29
MS-Excel
Machine Learning
MySQL
Statistical Modeling
Python :  7
R :  7
DS :  10
13
Machine Learning
Python :  7
R :  14
DS :  21
24
Deep Learning
Machine Learning
SQLite
MySQL
SQL
Python :  0
R :  3
DS :  3
3
MS-Excel
SQL
Python :  7
R :  7
DS :  14
14
MS-Excel
Machine Learning
SQLite
MySQL
Python :  10
R :  20
DS :  20
20
Python :  10
R :  10
DS :  20
25
Machine Learning
MySQL
Deep Learning
Neural Networks
Python :  0
R :  0
DS :  10
18
Machine Learning
Python :  0
R :  0
DS :  0
5
Python :  7
R :  7
DS :  10
10
Machine Learning
Python :  7
R :  7
DS :  14
19
Machine Learning
MySQL
Statistical Modeling
Python :  7
R :  7
DS :  17
20
Machine Learning
MS-Excel
SQL
Python :  10
R :  10
DS :  17
27
Machine Learning
MySQL
Python :  10
R :  10
DS :  20
25
Machine Learning
Statistical Modeling
MS-Excel
Natural Language Processing (NLP)
Deep Learning
Python :  7
R :  7
DS :  14
14
Machine Learning
MySQL
Natural Language Processing (NLP)
Python :  7
R :  7
DS :  7
7
Python :  7
R :  14
DS :  14
14
Python :  7
R :  10
DS :  10
10
MS-Excel
SQL
Python :  7
R :  14
DS :  14
14
MS-Excel
Python :  3
R :  3
DS :  6
9
MS-Excel
Machine Learning
Python :  7
R :  7
DS :  14
14
MS-Excel
Machine Learning
Python :  0
R :  7
DS :  7
7
Python :  3
R :  10
DS :  10
10
MS-Excel
MySQL
Python :  7
R :  7
DS :  14
19
Machine Learning
Python :  7
R :  7
DS :  7
15
SQL
Python :  0
R :  0
DS :  0
5
Python :  7
R :  7
DS :  14
19
Deep Learning
MS-Excel
Machine Learning
MySQL
Python :  7
R :  10
DS :  10
10
SQL
Python :  0
R :  7
DS :  14
14
Machine Learning
Python :  7
R :  7
DS :  10
18
MS-Excel
Machine Learning
Python :  7
R :  7
DS :  17
17
Machine Learning
MySQL
Python :  3
R :  6
DS :  6
6
MS-Excel
MySQL
Statistical Modeling
Python :  7
R :  7
DS :  14
14
Deep Learning
Machine Learning
Neural Networks
SQL
Python :  0
R :  0
DS :  3
8
MySQL
Machine Learning
Python :  7
R :  14
DS :  21
21
Machine Learning
Python :  7
R :  14
DS :  21
24
MS-Excel
Machine Learning
SQL
Python :  10
R :  17
DS :  27
35
Deep Learning
Machine Learning
Natural Language Processing (NLP)
Python :  7
R :  7
DS :  10
10
SQL
Machine Learning
Python :  3
R :  3
DS :  3
8
SQL
Python :  3
R :  3
DS :  3
11
MySQL
Python :  7
R :  7
DS :  7
15
SQL
Python :  7
R :  7
DS :  14
14
Machine Learning
Natural Language Processing (NLP)
SQL
Python :  7
R :  7
DS :  14
14
Deep Learning
Machine Learning
Natural Language Processing (NLP)
Statistical Modeling
MS-Excel
Python :  7
R :  14
DS :  21
21
Machine Learning
MySQL
Python :  7
R :  7
DS :  14
22
Machine Learning
MySQL
Deep Learning
Natural Language Processing (NLP)
Python :  7
R :  7
DS :  14
22
MS-Excel
Machine Learning
MySQL
SQL
Statistical Modeling
Python :  3
R :  6
DS :  13
13
Machine Learning
MySQL
Python :  7
R :  7
DS :  14
14
MySQL
Machine Learning
Python :  0
R :  0
DS :  0
10
Python :  3
R :  6
DS :  6
9
MS-Excel
Python :  7
R :  7
DS :  10
10
MS-Excel
SQL
Statistical Modeling
Machine Learning
Python :  10
R :  20
DS :  20
28
Natural Language Processing (NLP)
Python :  7
R :  7
DS :  7
15
Deep Learning
Natural Language Processing (NLP)
Python :  10
R :  10
DS :  17
17
Machine Learning
Python :  7
R :  7
DS :  14
14
MS-Excel
Machine Learning
Python :  7
R :  7
DS :  17
22
MS-Excel
Machine Learning
Python :  7
R :  7
DS :  14
19
MS-Excel
Machine Learning
SQL
Natural Language Processing (NLP)
Python :  7
R :  10
DS :  10
15
SQL
Statistical Modeling
Python :  7
R :  14
DS :  21
21
Deep Learning
MS SQL Server
MS-Excel
Machine Learning
SQL
Python :  7
R :  7
DS :  14
19
Deep Learning
Machine Learning
Natural Language Processing (NLP)
SQL
Python :  7
R :  7
DS :  14
14
MS SQL Server
MS-Excel
Machine Learning
Python :  7
R :  7
DS :  14
14
MS-Excel
Machine Learning
SQL
Python :  7
R :  7
DS :  14
14
SQL
MS-Excel
Machine Learning
Statistical Modeling
Python :  3
R :  3
DS :  3
3
SQL
Python :  7
R :  7
DS :  14
19
MySQL
MS-Excel
Machine Learning
Python :  7
R :  7
DS :  7
12
SQL
Python :  7
R :  14
DS :  21
26
Machine Learning
MS-Excel
SQL
Python :  3
R :  6
DS :  9
12
Machine Learning
Python :  0
R :  0
DS :  0
0
Python :  10
R :  17
DS :  24
24
MySQL
Machine Learning
Python :  7
R :  7
DS :  14
14
MS-Excel
Machine Learning
Statistical Modeling
Python :  7
R :  7
DS :  14
14
Machine Learning
SQL
Python :  3
R :  10
DS :  10
10
MS-Excel
SQL
Python :  0
R :  10
DS :  10
13
Python :  7
R :  7
DS :  14
14
Machine Learning
SQL
Python :  7
R :  7
DS :  10
10
Machine Learning
Python :  7
R :  7
DS :  7
7
Python :  7
R :  14
DS :  21
26
Machine Learning
SQL
Python :  10
R :  10
DS :  20
20
MS-Excel
Machine Learning
Python :  7
R :  14
DS :  24
24
MS-Excel
Machine Learning
Python :  3
R :  3
DS :  3
3
Python :  7
R :  7
DS :  14
14
MS-Excel
Machine Learning
SQL
Python :  10
R :  10
DS :  20
25
MS-Excel
Machine Learning
Statistical Modeling
SQL
Python :  7
R :  7
DS :  14
14
MS-Excel
Machine Learning
MySQL
Statistical Modeling
Python :  0
R :  0
DS :  0
0
Statistical Modeling
Python :  3
R :  3
DS :  6
11
Machine Learning
Python :  7
R :  14
DS :  21
21
Machine Learning
Natural Language Processing (NLP)
Deep Learning
Python :  7
R :  7
DS :  14
14
Machine Learning
Deep Learning
Python :  7
R :  7
DS :  10
15
Machine Learning
Natural Language Processing (NLP)
SQL
Python :  10
R :  10
DS :  20
25
Deep Learning
Machine Learning
Natural Language Processing (NLP)
MySQL
Python :  7
R :  14
DS :  14
14
Statistical Modeling
Python :  7
R :  7
DS :  7
17
NoSQL
SQL
Python :  3
R :  3
DS :  6
11
Machine Learning
MySQL
Python :  7
R :  7
DS :  17
17
Machine Learning
MS-Excel
Statistical Modeling
Python :  3
R :  3
DS :  6
14
Machine Learning
Python :  7
R :  14
DS :  21
29
Deep Learning
Machine Learning
Natural Language Processing (NLP)
SQL
Statistical Modeling
Python :  7
R :  7
DS :  14
14
MS-Excel
Machine Learning
MySQL
Python :  7
R :  7
DS :  14
19
Machine Learning
SQL
Python :  3
R :  6
DS :  6
6
MS-Excel
SQL
Statistical Modeling
Python :  7
R :  7
DS :  7
7
Python :  10
R :  10
DS :  17
22
MS-Excel
Machine Learning
SQL
Statistical Modeling
Natural Language Processing (NLP)
Python :  7
R :  7
DS :  14
14
Machine Learning
MS-Excel
Python :  0
R :  0
DS :  10
15
Machine Learning
Natural Language Processing (NLP)
Statistical Modeling
Python :  7
R :  7
DS :  14
22
Deep Learning
Machine Learning
Python :  7
R :  7
DS :  14
19
Deep Learning
Machine Learning
MySQL
Natural Language Processing (NLP)
Statistical Modeling
Python :  10
R :  13
DS :  13
13
MS-Excel
SQL
Python :  7
R :  14
DS :  21
21
MS-Excel
Machine Learning
Python :  7
R :  7
DS :  14
22
Deep Learning
MS-Excel
Machine Learning
Statistical Modeling
Python :  7
R :  17
DS :  17
17
MS-Excel
SQL
Python :  7
R :  7
DS :  14
19
Machine Learning
Natural Language Processing (NLP)
Deep Learning
SQL
Python :  7
R :  7
DS :  14
14
Machine Learning
Deep Learning
Python :  7
R :  14
DS :  14
17
Python :  0
R :  7
DS :  10
13
SQL
Machine Learning
Python :  7
R :  14
DS :  14
19
MS-Excel
Python :  7
R :  7
DS :  14
14
MS-Excel
Machine Learning
MySQL
Statistical Modeling
Python :  0
R :  0
DS :  3
8
Machine Learning
Python :  3
R :  3
DS :  3
3
MS-Excel
MySQL
Python :  7
R :  7
DS :  17
25
Machine Learning
Deep Learning
MySQL
Natural Language Processing (NLP)
Neural Networks
Python :  7
R :  7
DS :  14
14
Machine Learning
MySQL
Python :  7
R :  7
DS :  14
22
Machine Learning
Python :  0
R :  0
DS :  0
0
MS-Excel
Python :  7
R :  14
DS :  21
28
MS-Excel
Machine Learning
Deep Learning
Python :  7
R :  14
DS :  24
32
MS-Excel
Machine Learning
Statistical Modeling
SQL
Deep Learning
Python :  7
R :  14

DS :  21
24
MS-Excel
Machine Learning
Statistical Modeling
Python :  7
R :  7
DS :  14
19
MS-Excel
Machine Learning
Python :  7
R :  7
DS :  14
22
Machine Learning
Natural Language Processing (NLP)
Statistical Modeling
Deep Learning
SQL
Python :  10
R :  20
DS :  20
20
MS-Excel
Amazon Web Services (AWS)
Python :  0
R :  0
DS :  0
3
Natural Language Processing (NLP)
Python :  7
R :  7
DS :  10
10
Machine Learning
Python :  7
R :  7
DS :  14
22
Machine Learning
Python :  7
R :  7
DS :  10
15
MS-Excel
Machine Learning
Python :  7
R :  14
DS :  21
31
MS-Excel
Deep Learning
Machine Learning
MySQL
Natural Language Processing (NLP)
Statistical Modeling
Python :  7
R :  17
DS :  24
27
Deep Learning
MS-Excel
Machine Learning
SQL
Python :  7
R :  7
DS :  14
14
MS-Excel
Machine Learning
Statistical Modeling
Python :  3
R :  3
DS :  6
6
Deep Learning
Machine Learning
Statistical Modeling
Python :  7
R :  7
DS :  14
22
Machine Learning
Neural Networks
Python :  10
R :  13
DS :  23
23
Machine Learning
MySQL
Statistical Modeling
MS-Excel
Python :  7
R :  7
DS :  7
15
Python :  7
R :  14
DS :  21
29
Machine Learning
MySQL
Python :  10
R :  13
DS :  23
31
Machine Learning
Deep Learning
MS-Excel
Natural Language Processing (NLP)
Neural Networks
SQL
Python :  7
R :  7
DS :  7
17
Python :  3
R :  10
DS :  10
17
MS-Excel
Python :  7
R :  14
DS :  14
14
Python :  7
R :  17
DS :  17
25
Python :  7
R :  7
DS :  14
19
Deep Learning
Machine Learning
Natural Language Processing (NLP)
SQL
Python :  7
R :  14
DS :  21
21
MS-Excel
Machine Learning
Python :  10
R :  17
DS :  24
34
MS-Excel
Machine Learning
MySQL
SQL
Deep Learning
Neural Networks
Python :  7
R :  7
DS :  14
19
Machine Learning
Python :  7
R :  14
DS :  21
26
Machine Learning
SQL
Python :  7
R :  7
DS :  10
10
Machine Learning
Python :  7
R :  7
DS :  10
18
MS-Excel
Machine Learning
Python :  3
R :  3
DS :  3
11
Python :  7
R :  10
DS :  10
18
Python :  3
R :  10
DS :  17
25
Deep Learning
Machine Learning
Statistical Modeling
MS-Excel
MySQL
Python :  0
R :  0
DS :  0
8
Amazon Web Services (AWS)
Python :  10
R :  10
DS :  20
23
Machine Learning
Natural Language Processing (NLP)
Deep Learning
SQL
Python :  7
R :  7
DS :  14
17
Deep Learning
Machine Learning
Natural Language Processing (NLP)
SQL
Python :  0
R :  0
DS :  0
5
MySQL
Statistical Modeling
MS-Excel
Python :  7
R :  7
DS :  14
22
MS SQL Server
MS-Excel
Machine Learning
Statistical Modeling
Python :  7
R :  7
DS :  14
22
Machine Learning
Python :  7
R :  14
DS :  14
19
MS-Excel
MySQL
Python :  7
R :  7
DS :  10
10
Deep Learning
Machine Learning
Natural Language Processing (NLP)
Python :  7
R :  10
DS :  13
18
SQL
Deep Learning
Machine Learning
Statistical Modeling
Python :  10
R :  17
DS :  17
17
Python :  7
R :  7
DS :  14
19
MS-Excel
Machine Learning
Python :  7
R :  7
DS :  7
7
Python :  7
R :  7
DS :  14
24
Machine Learning
MySQL
Python :  3
R :  3
DS :  3
3
MySQL
Python :  7
R :  7
DS :  7
17
MySQL
Python :  7
R :  7
DS :  17
17
Machine Learning
MySQL
Statistical Modeling
Natural Language Processing (NLP)
Python :  7
R :  14
DS :  14
14
PostgreSQL
SQL
Python :  7
R :  7
DS :  14
19
SQL
Deep Learning
Machine Learning
Python :  7
R :  14
DS :  17
17
MySQL
SQL
MS-Excel
Statistical Modeling
Machine Learning
Natural Language Processing (NLP)
Python :  7
R :  7
DS :  14
19
MS-Excel
Machine Learning
SQL
Deep Learning
Python :  3
R :  3
DS :  3
13
Python :  7
R :  7
DS :  10
10
MySQL
Statistical Modeling
Deep Learning
MS-Excel
Machine Learning
Natural Language Processing (NLP)
Python :  3
R :  3
DS :  6
6
MS-Excel
Machine Learning
Python :  7
R :  14
DS :  14
14
MS-Excel
SQLite
Python :  7
R :  7
DS :  14
14
MS-Excel
Statistical Modeling
Machine Learning
SQL
Deep Learning
Python :  10
R :  10
DS :  17
22
Deep Learning
Machine Learning
Natural Language Processing (NLP)
SQL
Python :  7
R :  10
DS :  13
21
Machine Learning
Natural Language Processing (NLP)
Python :  7
R :  7
DS :  7
7
MySQL
Python :  3
R :  6
DS :  9
9
MS-Excel
Machine Learning
SQL
Statistical Modeling
Python :  7
R :  7
DS :  14
14
MS-Excel
Machine Learning
MySQL
Statistical Modeling
Natural Language Processing (NLP)
Python :  7
R :  7
DS :  14
17
SQL
MS-Excel
Machine Learning
Python :  0
R :  3
DS :  10
10
Deep Learning
Machine Learning
NoSQL
SQL
Python :  7
R :  7
DS :  14
14
MS-Excel
Machine Learning
SQL
Natural Language Processing (NLP)
Python :  10
R :  10
DS :  17
20
Machine Learning
Natural Language Processing (NLP)
PostgreSQL
SQL
Statistical Modeling
Amazon Web Services (AWS)
Deep Learning
Python :  7
R :  7
DS :  10
15
Machine Learning
Python :  3
R :  3
DS :  3
11
MS-Excel
MySQL
Python :  10
R :  20
DS :  30
30
Machine Learning
Neural Networks
SQL
Statistical Modeling
Natural Language Processing (NLP)
Python :  3
R :  3
DS :  6
14
Deep Learning
Machine Learning
Python :  7
R :  14
DS :  21
29
Deep Learning
Machine Learning
SQL
Python :  3
R :  3
DS :  3
3
MS-Excel
Python :  3
R :  10
DS :  10
15
MS-Excel
SQL
Python :  10
R :  10
DS :  20
25
Machine Learning
Deep Learning
Neural Networks
Python :  3
R :  3
DS :  6
11
Machine Learning
Python :  7
R :  7
DS :  14
14
Deep Learning
Machine Learning
Natural Language Processing (NLP)
Python :  7
R :  7
DS :  7
17
Python :  7
R :  7
DS :  14
19
Machine Learning
Deep Learning
SQL
Python :  7
R :  7
DS :  14
14
Deep Learning
Machine Learning
Natural Language Processing (NLP)
Python :  7
R :  7
DS :  14
14
Machine Learning
Python :  7
R :  7
DS :  14
17
Machine Learning
Natural Language Processing (NLP)
Python :  10
R :  10
DS :  10
10
MS-Excel
MySQL
Python :  7
R :  7
DS :  14
14
MS-Excel
Machine Learning
SQL
Deep Learning
Natural Language Processing (NLP)
Python :  7
R :  14
DS :  14
14
MySQL
Python :  7
R :  7
DS :  14
14
MS-Excel
Machine Learning
Python :  7
R :  7
DS :  14
19
Deep Learning
MS-Excel
Machine Learning
MySQL
Natural Language Processing (NLP)
Neural Networks
PostgreSQL
Statistical Modeling
Python :  7
R :  14
DS :  21
21
MS-Excel
Machine Learning
Natural Language Processing (NLP)
SQL
Python :  3
R :  3
DS :  3
8
MySQL
Python :  7
R :  7
DS :  14
14
MS-Excel
Machine Learning
SQL
Statistical Modeling
Python :  0
R :  0
DS :  0
0
Python :  3
R :  3
DS :  3
11
MS-Excel
SQL
Python :  7
R :  14
DS :  21
29
Machine Learning
SQL
Natural Language Processing (NLP)
Python :  7
R :  7
DS :  14
14
Machine Learning
Python :  3
R :  3
DS :  6
11
MySQL
SQL
MS-Excel
Machine Learning
Python :  7
R :  7
DS :  7
12
Python :  7
R :  7
DS :  14
14
Machine Learning
Python :  7
R :  14
DS :  14
14
MS-Excel
Python :  7
R :  7
DS :  10
10
SQL
Deep Learning
Machine Learning
MySQL
Python :  7
R :  7
DS :  14
19
MS-Excel
Machine Learning
Deep Learning
Python :  7
R :  7
DS :  14
14
Deep Learning
Machine Learning
SQL
Python :  7
R :  7
DS :  14
17
Deep Learning
MS-Excel
Machine Learning
Python :  10
R :  17
DS :  17
17
Python :  0
R :  3
DS :  6
14
Machine Learning
MySQL
Python :  7
R :  7
DS :  14
19
Machine Learning
Python :  0
R :  0
DS :  0
0
MySQL
Python :  7
R :  7
DS :  14
14
MS-Excel
Machine Learning
Python :  3
R :  3
DS :  3
13
SQL
Python :  10
R :  10
DS :  17
17
Machine Learning
Python :  7
R :  7
DS :  14
24
SQL
Deep Learning
Machine Learning
Natural Language Processing (NLP)
Neural Networks
PostgreSQL
Statistical Modeling
Amazon Web Services (AWS)
Python :  10
R :  10
DS :  10
10
Python :  7
R :  17
DS :  24
34
Deep Learning
Machine Learning
Python :  7
R :  14
DS :  21
24
Machine Learning
Natural Language Processing (NLP)
Python :  10
R :  10
DS :  10
10
MS-Excel
PostgreSQL
Natural Language Processing (NLP)
Deep Learning
Python :  7
R :  10
DS :  17
22
Machine Learning
MySQL
Statistical Modeling
Python :  10
R :  10
DS :  20
28
MS-Excel
Machine Learning
Natural Language Processing (NLP)
Python :  10
R :  20
DS :  30
38
Deep Learning
Machine Learning
Natural Language Processing (NLP)
MS-Excel
Python :  3
R :  3
DS :  6
6
MS-Excel
Machine Learning
MySQL
Python :  7
R :  14
DS :  21
26
Machine Learning
SQL
Statistical Modeling
Python :  10
R :  10
DS :  10
17
SQL
Python :  7
R :  7
DS :  10
15
MS-Excel
SQL
Machine Learning
Python :  7
R :  7
DS :  7
7
Python :  10
R :  20
DS :  27
27
MS-Excel
Machine Learning
Python :  7
R :  7
DS :  10
10
MS-Excel
Machine Learning
MySQL
Python :  3
R :  3
DS :  3
11
MS-Excel
SQL
Python :  3
R :  10
DS :  10
13
MS-Excel
Python :  7
R :  7
DS :  10
18
SQL
Machine Learning
Statistical Modeling
Python :  7
R :  7
DS :  7
10
Python :  7
R :  7
DS :  10
10
MS-Excel
Machine Learning
Python :  7
R :  7
DS :  14
19
Machine Learning
Deep Learning
Natural Language Processing (NLP)
SQL
Python :  0
R :  0
DS :  0
5
Python :  7
R :  7
DS :  10
15
MS-Excel
SQL
Deep Learning
Machine Learning
Natural Language Processing (NLP)
Python :  10
R :  20
DS :  30
30
MS-Excel
Machine Learning
Natural Language Processing (NLP)
Neural Networks
Python :  10
R :  10
DS :  10
20
Python :  0
R :  0
DS :  0
7
Python :  7
R :  7
DS :  7
7
MySQL
Python :  10
R :  10
DS :  20
25
Machine Learning
Deep Learning
Natural Language Processing (NLP)
Python :  7
R :  7
DS :  7
12
MS-Excel
Python :  7
R :  7
DS :  10
15
MS-Excel
Deep Learning
Machine Learning
SQL
Python :  7
R :  10
DS :  13
13
Deep Learning
Machine Learning
Natural Language Processing (NLP)
SQL
Python :  3
R :  6
DS :  6
6
MS-Excel

MySQL
Python :  7
R :  7
DS :  10
10
SQL
Deep Learning
Machine Learning
Natural Language Processing (NLP)
Statistical Modeling
Python :  7
R :  14
DS :  21
21
MS-Excel
Machine Learning
SQL
Python :  7
R :  7
DS :  14
14
Deep Learning
Machine Learning
Natural Language Processing (NLP)
Statistical Modeling
Python :  10
R :  10
DS :  17
22
Machine Learning
Statistical Modeling
Python :  7
R :  14
DS :  17
17
MS-Excel
Machine Learning
Python :  7
R :  14
DS :  21
31
MS-Excel
MySQL
Machine Learning
Python :  7
R :  14
DS :  21
29
Machine Learning
Deep Learning
Natural Language Processing (NLP)
Python :  7
R :  14
DS :  14
14
Machine Learning
MySQL
Amazon Web Services (AWS)
Python :  7
R :  7
DS :  7
7
Machine Learning
Python :  10
R :  10
DS :  10
15
Machine Learning
Natural Language Processing (NLP)
Python :  7
R :  14
DS :  17
24
MS-Excel
Machine Learning
Deep Learning
Python :  7
R :  17
DS :  17
24
MS-Excel
Machine Learning
MySQL
Python :  7
R :  7
DS :  7
7
Machine Learning
MySQL
Statistical Modeling
Natural Language Processing (NLP)
Python :  7
R :  7
DS :  7
12
MS-Excel
Machine Learning
SQL
Python :  7
R :  7
DS :  7
7
Machine Learning
Python :  10
R :  10
DS :  10
15
Machine Learning
Python :  3
R :  3
DS :  3
3
Python :  10
R :  20
DS :  30
35
Deep Learning
Machine Learning
Python :  3
R :  3
DS :  3
13
SQL
Python :  0
R :  0
DS :  0
0
Python :  7
R :  7
DS :  7
7
Machine Learning
Python :  7
R :  14
DS :  14
14
MS-Excel
Machine Learning
Natural Language Processing (NLP)
SQL
Python :  7
R :  7
DS :  7
10
MS-Excel
Machine Learning
Python :  3
R :  3
DS :  3
3
Python :  0
R :  0
DS :  0
8
Machine Learning
Python :  7
R :  14
DS :  21
21
MS-Excel
Deep Learning
Machine Learning
Natural Language Processing (NLP)
Amazon Web Server (AWS)
MySQL
SQL
Python :  3
R :  3
DS :  6
11
Deep Learning
Machine Learning
Natural Language Processing (NLP)
Python :  7
R :  7
DS :  7
15
Python :  3
R :  6
DS :  6
6
MS-Excel
SQL
Python :  3
R :  3
DS :  3
8
Python :  7
R :  7
DS :  7
15
Machine Learning
Natural Language Processing (NLP)
SQL
Python :  3
R :  3
DS :  3
11
PostgreSQL
Python :  7
R :  7
DS :  14
14
Statistical Modeling
Deep Learning
Machine Learning
Natural Language Processing (NLP)
Python :  7
R :  7
DS :  10
15
MS-Excel
Machine Learning
Deep Learning
Python :  3
R :  10
DS :  10
20
Machine Learning
SQL
Statistical Modeling
Python :  7
R :  7
DS :  7
7
SQL
Python :  3
R :  10
DS :  10
13
MS-Excel
Machine Learning
NoSQL
Python :  7
R :  14
DS :  14
14
MS-Excel
Machine Learning
Python :  7
R :  7
DS :  10
18
Machine Learning
Neural Networks
SQL
Deep Learning
Python :  7
R :  7
DS :  7
10
MS-Excel
Python :  7
R :  14
DS :  14
22
Machine Learning
SQL
Python :  3
R :  10
DS :  10
10
MS-Excel
SQL
Python :  7
R :  14
DS :  14
17
MS-Excel
Machine Learning
Python :  7
R :  7
DS :  7
7
MySQL
Machine Learning
Python :  7
R :  14
DS :  21
21
Deep Learning
MS-Excel
SQL
Statistical Modeling
Python :  7
R :  7
DS :  10
13
MS-Excel
Machine Learning
Deep Learning
Python :  10
R :  10
DS :  10
20
Machine Learning
Natural Language Processing (NLP)
Python :  7
R :  14
DS :  14
22
Machine Learning
Statistical Modeling
SQL
Python :  3
R :  3
DS :  3
8
Machine Learning
Python :  7
R :  7
DS :  7
7
MS-Excel
Machine Learning
Python :  3
R :  3
DS :  3
13
MS-Excel
MySQL
Python :  7
R :  14
DS :  14
19
MySQL
Python :  3
R :  3
DS :  10
18
Machine Learning
Deep Learning
Natural Language Processing (NLP)
Python :  7
R :  7
DS :  7
12
Machine Learning
MySQL
MS-Excel
Python :  7
R :  14
DS :  14
22
MS-Excel
Machine Learning
SQL
Statistical Modeling
Python :  7
R :  7
DS :  7
12
Machine Learning
Python :  7
R :  7
DS :  7
17
Machine Learning
Neural Networks
Python :  3
R :  3
DS :  3
6
MS-Excel
SQL
Machine Learning
Python :  10
R :  10
DS :  10
10
Machine Learning
Python :  7
R :  10
DS :  17
22
Deep Learning
Machine Learning
Natural Language Processing (NLP)
PostgreSQL
Python :  7
R :  7
DS :  7
7
Python :  7
R :  10
DS :  10
10
MS-Excel
Machine Learning
Python :  10
R :  10
DS :  10
20
Machine Learning
MySQL
Python :  3
R :  3
DS :  3
3
Machine Learning
Python :  7
R :  7
DS :  14
19
Deep Learning
Machine Learning
MySQL
Natural Language Processing (NLP)
Statistical Modeling
Python :  7
R :  7
DS :  14
14
Deep Learning
Machine Learning
Python :  7
R :  10
DS :  10
18
SQLite
Python :  7
R :  7
DS :  7
7
MS-Excel
Machine Learning
MySQL
Statistical Modeling
Python :  7
R :  7
DS :  10
10
MS-Excel
Statistical Modeling
Machine Learning
SQL
Deep Learning
Python :  0
R :  0
DS :  0
0
Machine Learning
SQL
Natural Language Processing (NLP)
Python :  7
R :  7
DS :  14
14
Deep Learning
Machine Learning
Python :  10
R :  10
DS :  13
13
SQL
Machine Learning
Deep Learning
Python :  3
R :  3
DS :  3
8
Machine Learning
Natural Language Processing (NLP)
SQL
Python :  3
R :  6
DS :  6
9
MS-Excel
Python :  7
R :  14
DS :  21
26
Deep Learning
Machine Learning
SQL
Python :  10
R :  10
DS :  10
18
Machine Learning
MS-Excel
MySQL
Statistical Modeling
Python :  7
R :  7
DS :  7
17
SQL
Python :  10
R :  17
DS :  17
20
MS-Excel
Machine Learning
SQL
Python :  10
R :  17
DS :  24
32
MS-Excel
Machine Learning
Natural Language Processing (NLP)
Statistical Modeling
Amazon Web Server (AWS)
Deep Learning
Neural Networks
Python :  3
R :  6
DS :  6
6
MS-Excel
MySQL
Python :  3
R :  3
DS :  3
3
MS-Excel
MySQL
Python :  7
R :  7
DS :  14
14
Deep Learning
Machine Learning
Natural Language Processing (NLP)
Statistical Modeling
SQLite
Python :  7
R :  7
DS :  14
14
Deep Learning
Machine Learning
Natural Language Processing (NLP)
Python :  7
R :  14
DS :  14
14
SQL
Statistical Modeling
Python :  3
R :  6
DS :  6
11
SQL
Machine Learning
Python :  3
R :  3
DS :  3
11
SQL
Python :  7
R :  7
DS :  7
17
Machine Learning
Natural Language Processing (NLP)
Python :  7
R :  10
DS :  13
18
Machine Learning
MS-Excel
Statistical Modeling
Deep Learning
Natural Language Processing (NLP)
SQL
Python :  10
R :  17
DS :  17
17
Python :  0
R :  7
DS :  7
7
Python :  7
R :  7
DS :  7
15
Machine Learning
Neural Networks
Python :  10
R :  10
DS :  13
16
Machine Learning
Natural Language Processing (NLP)
PostgreSQL
SQL
Statistical Modeling
Amazon Web Services (AWS)
Deep Learning
Python :  7
R :  7
DS :  14
22
Deep Learning
Machine Learning
Python :  7
R :  7
DS :  7
12
SQL
Python :  7
R :  7
DS :  7
7
Machine Learning
MySQL
Python :  3
R :  3
DS :  3
3
Python :  10
R :  13
DS :  13
13
SQL
MS SQL Server
MySQL
Python :  10
R :  10
DS :  10
10
MS-Excel
Machine Learning
SQL
Python :  7
R :  7
DS :  14
14
Deep Learning
MS-Excel
Machine Learning
Natural Language Processing (NLP)
SQL
Python :  7
R :  7
DS :  7
12
Machine Learning
SQL
Python :  10
R :  10
DS :  17
17
Deep Learning
Machine Learning
SQL
Python :  7
R :  14
DS :  17
17
Machine Learning
Natural Language Processing (NLP)
Deep Learning
MySQL
Python :  7
R :  14
DS :  14
22
MS-Excel
Machine Learning
MySQL
Statistical Modeling
Python :  7
R :  7
DS :  7
12
SQL
Python :  7
R :  7
DS :  7
7
SQL
MS-Excel
Machine Learning
Statistical Modeling
Python :  7
R :  7
DS :  7
10
Machine Learning
SQL
Python :  3
R :  3
DS :  3
11
Machine Learning
Python :  0
R :  0
DS :  0
5
Python :  7
R :  7
DS :  7
7
Machine Learning
MySQL
Natural Language Processing (NLP)
Python :  3
R :  3
DS :  3
3
MS-Excel
SQL
Python :  3
R :  6
DS :  6
9
Python :  7
R :  7
DS :  7
7
Machine Learning
Neural Networks
SQL
Python :  7
R :  7
DS :  14
19
Deep Learning
Machine Learning
Python :  7
R :  7
DS :  7
7
Python :  7
R :  7
DS :  7
7
MySQL
Python :  7
R :  7
DS :  7
12
Machine Learning
Python :  7
R :  7
DS :  14
17
Deep Learning
Machine Learning
Python :  7
R :  10
DS :  10
15
Machine Learning
Natural Language Processing (NLP)
Python :  7
R :  14
DS :  21
29
Deep Learning
Machine Learning
Natural Language Processing (NLP)
SQL
Statistical Modeling
Python :  7
R :  14
DS :  14
14
MS-Excel
Machine Learning
SQL
Python :  7
R :  7
DS :  7
12
Machine Learning
Python :  3
R :  3
DS :  3
8
Python :  10
R :  10
DS :  17
22
Deep Learning
Machine Learning
Statistical Modeling
Natural Language Processing (NLP)
Python :  10
R :  20
DS :  30
38
Deep Learning
MS-Excel
Machine Learning
Python :  0
R :  0
DS :  0
8
MS-Excel
Machine Learning
Python :  7
R :  7
DS :  7
15
MS-Excel
Machine Learning
SQL
Python :  7
R :  7
DS :  14
19
Deep Learning
Machine Learning
Python :  3
R :  3
DS :  3
6
MySQL
Python :  7
R :  7
DS :  7
17
Python :  3
R :  6
DS :  9
17
Deep Learning
Machine Learning
Natural Language Processing (NLP)
Python :  3
R :  3
DS :  3
3
Machine Learning
Python :  3
R :  10
DS :  10
10
MS-Excel
Machine Learning
Python :  7
R :  14
DS :  17
25
Machine Learning
SQL
Statistical Modeling
Deep Learning
MS-Excel
Natural Language Processing (NLP)
Neural Networks
Python :  7
R :  7
DS :  7
7
Machine Learning
Python :  10
R :  10
DS :  17
25
Machine Learning
Deep Learning
Python :  0
R :  0
DS :  0
8
Python :  7
R :  7
DS :  14
14
Deep Learning
Machine Learning
Python :  7
R :  7
DS :  7
12
Machine Learning
SQL
Python :  7
R :  7
DS :  7
17
Machine Learning
MySQL
Python :  3
R :  3
DS :  3
13
Python :  7
R :  7
DS :  7
7
Machine Learning
SQL
Statistical Modeling
Python :  7
R :  7
DS :  14
14
Deep Learning
Machine Learning
Natural Language Processing (NLP)
Python :  3
R :  3
DS :  3
8
MySQL
Python :  7
R :  14
DS :  14
17
Statistical Modeling
MS-Excel
Python :  7
R :  14
DS :  21
31
Deep Learning
Machine Learning
MySQL
Natural Language Processing (NLP)
Python :  0
R :  0
DS :  0
10
Machine Learning
Python :  10
R :  10
DS :  10
18
SQL
Python :  0
R :  0
DS :  0
5
Python :  10
R :  13
DS :  13
13
Machine Learning
MySQL
Statistical Modeling
MS-Excel
Python :  10
R :  10
DS :  20
20
Deep Learning
Neural Networks
Python :  3
R :  3
DS :  3
3
Machine Learning
Python :  7
R :  14
DS :  14
14
Machine Learning
SQL
Python :  7
R :  14
DS :  14
19
MS SQL Server
NoSQL
Python :  7
R :  14
DS :  14
14
MS-Excel
Machine Learning
Python :  7
R :  7
DS :  7
7
Machine Learning
Python :  7
R :  7
DS :  7
17
MS-Excel
SQL
Machine Learning
MySQL
Python :  7
R :  14
DS :  14
22
Machine Learning
SQL
Natural Language Processing (NLP)
Python :  7
R :  7
DS :  7
12
MS-Excel
Machine Learning
Python :  7
R :  7
DS :  7
17
Machine Learning
MySQL
Python :  10
R :  10
DS :  10
15
MS-Excel
Machine Learning
Statistical Modeling
SQL
Python :  3
R :  10
DS :  10
10
MS-Excel
Machine Learning
Statistical Modeling
Python :  7
R :  14
DS :  14
14
MS-Excel
Machine Learning
Python :  7
R :  7
DS :  7
10
MS-Excel
Python :  3
R :  3
DS :  6
11
Deep Learning
Machine Learning
Neural Networks
Python :  3
R :  3
DS :  3
3
Python :  10
R :  20
DS :  30
38
Deep Learning
Machine Learning
Natural Language Processing (NLP)
MS-Excel
Python :  7
R :  7
DS :  7
12
Machine Learning
Python :  7
R :  10
DS :  10
18
Machine Learning
SQL
Python :  3
R :  3
DS :  3
8
MS-Excel
Machine Learning
Python :  7
R :  14
DS :  14
14
MS-Excel
Machine Learning
Statistical Modeling
Python :  10
R :  17
DS :  17
17
SQL
Python :  7
R :  7
DS :  14
14
Deep Learning
Machine Learning
Python :  7
R :  7
DS :  7
7
SQL
Python :  7
R :  14
DS :  14
17
Machine Learning
Statistical Modeling
Python :  7
R :  7
DS :  7
14
Machine Learning
Python :  7
R :  7
DS :  10
20
Deep Learning
Machine Learning
Python :  7
R :  7
DS :  14
24
Deep Learning
Machine Learning
Python :  3
R :  3
DS :  3
8
Machine Learning
Python :  7
R :  14
DS :  14
17
MS-Excel
Machine Learning
Python :  7
R :  14
DS :  21
29
Deep Learning
Machine Learning
Natural Language Processing (NLP)
Statistical Modeling
Python :  7
R :  7
DS :  7
17
Machine Learning
MySQL
Python :  7
R :  7
DS :  7
7
Python :  10
R :  13
DS :  20
20
MS-Excel
Deep Learning
Machine Learning
Neural Networks
Python :  7
R :  7
DS :  7
17
Amazon Web Services (AWS)
Machine Learning
Python :  7
R :  14
DS :  14
19
Machine Learning
Neural Networks
SQL
Python :  7
R :  14
DS :  14
19
Machine Learning
Natural Language Processing (NLP)
Neural Networks
SQL
Statistical Modeling
Python :  7
R :  14
DS :  14
19
MS-Excel
Machine Learning
SQL
Statistical Modeling
Python :  7
R :  7
DS :  7
7
SQL
Python :  7
R :  7
DS :  7
10
SQL
Python :  7
R :  14
DS :  14
17
Python :  3
R :  10
DS :  10
10
Machine Learning
Python :  10
R :  10
DS :  10
18
Python :  10
R :  17
DS :  17
25
Machine Learning
Python :  7
R :  7
DS :  7
17
Python :  7
R :  7
DS :  7
15
Machine Learning
Python :  10
R :  10
DS :  10
15
MS-Excel
Machine Learning
SQL
Statistical Modeling
Natural Language Processing (NLP)
Python :  7
R :  7
DS :  7
7
Python :  10
R :  10
DS :  13
18
Machine Learning
SQL
Deep Learning
Natural Language Processing (NLP)
Python :  7
R :  7
DS :  7
7
Python :  3
R :  3
DS :  3
11
Python :  7
R :  14
DS :  14
17
Python :  7
R :  7
DS :  7
12
Machine Learning
Python :  3
R :  3
DS :  3
3
MS-Excel
Machine Learning
Python :  7
R :  7
DS :  14
17
Deep Learning
Machine Learning
Natural Language Processing (NLP)
Python :  7
R :  7
DS :  7
12
MySQL
Python :  7
R :  7
DS :  10
18
Machine Learning
Deep Learning
Python :  7
R :  14
DS :  17
17
Machine Learning
Natural Language Processing (NLP)

Deep Learning
Python :  3
R :  3
DS :  6
14
Deep Learning
Machine Learning
Python :  7
R :  7
DS :  14
24
Deep Learning
Machine Learning
SQL
Python :  7
R :  7
DS :  7
7
Machine Learning
Python :  7
R :  7
DS :  7
7
Machine Learning
SQL
MS-Excel
Python :  3
R :  3
DS :  3
6
Machine Learning
Python :  0
R :  3
DS :  3
3
MS-Excel
Python :  10
R :  17
DS :  27
35
Deep Learning
Machine Learning
Natural Language Processing (NLP)
Python :  7
R :  7
DS :  7
7
MS-Excel
Machine Learning
SQL
Statistical Modeling
Python :  3
R :  3
DS :  3
13
Machine Learning
Python :  7
R :  14
DS :  14
19
MS-Excel
SQL
Machine Learning
Python :  7
R :  7
DS :  7
15
Amazon Web Services (AWS)
Python :  7
R :  7
DS :  10
10
MS-Excel
Deep Learning
Machine Learning
Python :  7
R :  7
DS :  7
7
Machine Learning
Neural Networks
Python :  7
R :  7
DS :  7
10
SQL
MS-Excel
Machine Learning
Python :  7
R :  7
DS :  7
12
Machine Learning
SQL
Python :  7
R :  7
DS :  7
12
Machine Learning
Python :  7
R :  7
DS :  7
12
MS-Excel
Machine Learning
SQL
Statistical Modeling
Python :  7
R :  14
DS :  14
14
Python :  7
R :  14
DS :  14
22
Python :  7
R :  17
DS :  17
17
MS-Excel
Machine Learning
Python :  0
R :  3
DS :  10
10
Deep Learning
Machine Learning
NoSQL
SQL
Python :  7
R :  7
DS :  14
19
Deep Learning
Machine Learning
MySQL
Statistical Modeling
Python :  7
R :  7
DS :  7
12
Machine Learning
Python :  3
R :  3
DS :  3
3
MS-Excel
MySQL
Python :  7
R :  14
DS :  14
14
MS-Excel
MySQL
Machine Learning
Python :  7
R :  7
DS :  14
19
Deep Learning
Machine Learning
Natural Language Processing (NLP)
SQL
Python :  7
R :  17
DS :  17
25
MS-Excel
Machine Learning
Statistical Modeling
Python :  10
R :  10
DS :  10
10
MS-Excel
Machine Learning
SQL
Python :  7
R :  7
DS :  7
12
MS-Excel
Machine Learning
Python :  7
R :  7
DS :  14
22
Machine Learning
Deep Learning
MySQL
Natural Language Processing (NLP)
Neural Networks
Python :  7
R :  7
DS :  14
14
Deep Learning
Machine Learning
Python :  3
R :  3
DS :  3
6
SQL
Python :  7
R :  7
DS :  7
10
Machine Learning
MS-Excel
SQL
Python :  3
R :  10
DS :  10
15
MS-Excel
SQL
Python :  10
R :  10
DS :  13
13
MS-Excel
PostgreSQL
Natural Language Processing (NLP)
Deep Learning
Python :  7
R :  7
DS :  7
17
Machine Learning
Neural Networks
SQL
Python :  7
R :  7
DS :  14
19
Deep Learning
Machine Learning
Natural Language Processing (NLP)
Neural Networks
Python :  7
R :  7
DS :  7
7
Machine Learning
MySQL
Python :  10
R :  13
DS :  13
21
SQL
Python :  3
R :  3
DS :  3
3
Machine Learning
MySQL
Python :  10
R :  10
DS :  10
15
Machine Learning
Statistical Modeling
Python :  7
R :  7
DS :  14
14
Deep Learning
Machine Learning
Python :  10
R :  10
DS :  10
18
SQL
Python :  0
R :  0
DS :  0
0
Python :  7
R :  7
DS :  7
12
Machine Learning
SQL
Python :  7
R :  7
DS :  7
7
Machine Learning
Python :  3
R :  6
DS :  6
11
MS-Excel
MySQL
Statistical Modeling
Python :  7
R :  7
DS :  10
10
MySQL
Neural Networks
Deep Learning
Machine Learning
Python :  3
R :  6
DS :  6
6
MS-Excel
SQL
Python :  3
R :  6
DS :  6
9
MS-Excel
SQL
Machine Learning
Python :  7
R :  7
DS :  7
7
Machine Learning
Python :  0
R :  0
DS :  0
5
Python :  7
R :  14
DS :  14
19
Machine Learning
SQL
Python :  10
R :  20
DS :  20
20
MS-Excel
Machine Learning
Natural Language Processing (NLP)
Neural Networks
Python :  3
R :  3
DS :  3
3
Python :  0
R :  0
DS :  0
10
Machine Learning
Neural Networks
Python :  0
R :  0
DS :  0
5
Machine Learning
Python :  7
R :  14
DS :  24
32
Deep Learning
Machine Learning
MySQL
Natural Language Processing (NLP)
Statistical Modeling
Python :  7
R :  7
DS :  14
22
Deep Learning
Machine Learning
Natural Language Processing (NLP)
Python :  7
R :  14
DS :  21
28
MS-Excel
Deep Learning
Machine Learning
Neural Networks
SQL
Python :  10
R :  10
DS :  17
22
Machine Learning
Deep Learning
Natural Language Processing (NLP)
Python :  7
R :  14
DS :  21
21
Machine Learning
Deep Learning
MS-Excel
Neural Networks
Python :  7
R :  7
DS :  14
17
Deep Learning
MS-Excel
Machine Learning
Python :  7
R :  7
DS :  10
15
Machine Learning
Deep Learning
Natural Language Processing (NLP)
SQL
Python :  7
R :  14
DS :  21
29
SQL
Deep Learning
MS-Excel
Machine Learning
Natural Language Processing (NLP)
Python :  0
R :  7
DS :  7
10
Machine Learning
Python :  7
R :  14
DS :  14
17
MS-Excel
Machine Learning
SQL
Python :  3
R :  3
DS :  3
6
MySQL
SQL
MS-Excel
Machine Learning
Python :  7
R :  7
DS :  14
14
Deep Learning
Machine Learning
Python :  10
R :  10
DS :  10
17
SQL
Python :  7
R :  7
DS :  7
7
Machine Learning
Python :  7
R :  10
DS :  17
22
Deep Learning
Machine Learning
Neural Networks
PostgreSQL
Python :  7
R :  7
DS :  7
7
MS-Excel
SQL
Machine Learning
Python :  7
R :  7
DS :  14
14
Deep Learning
Machine Learning
Natural Language Processing (NLP)
Statistical Modeling
Python :  7
R :  14
DS :  14
14
MS-Excel
Python :  0
R :  0
DS :  0
5
Python :  7
R :  7
DS :  10
15
MS-Excel
Machine Learning
Neural Networks
Statistical Modeling
Deep Learning
SQL
Python :  7
R :  7
DS :  7
12
Machine Learning
Natural Language Processing (NLP)
SQL
Python :  3
R :  3
DS :  3
8
MS-Excel
MySQL
Statistical Modeling
Python :  10
R :  10
DS :  17
25
Deep Learning
Machine Learning
Python :  3
R :  6
DS :  6
9
Machine Learning
Python :  7
R :  7
DS :  7
15
MS-Excel
Machine Learning
SQL
Statistical Modeling
Python :  3
R :  3
DS :  3
3
Machine Learning
Python :  7
R :  7
DS :  10
15
Machine Learning
Statistical Modeling
MS-Excel
MySQL
SQL
Deep Learning
Python :  0
R :  0
DS :  0
0
Python :  10
R :  17
DS :  20
30
MS-Excel
Machine Learning
MySQL
SQL
Deep Learning
Neural Networks
Python :  7
R :  7
DS :  7
7
MS-Excel
Machine Learning
Python :  7
R :  7
DS :  14
22
Deep Learning
Natural Language Processing (NLP)
Python :  7
R :  7
DS :  10
10
MySQL
Deep Learning
Machine Learning
Python :  3
R :  3
DS :  3
3
SQL
Python :  7
R :  7
DS :  7
7
Python :  7
R :  7
DS :  7
7
SQL
Python :  0
R :  0
DS :  0
0
Python :  0
R :  0
DS :  0
10
Python :  7
R :  7
DS :  7
7
MS-Excel
Machine Learning
SQL
Python :  7
R :  7
DS :  7
10
MS-Excel
Machine Learning
MySQL
SQL
Python :  7
R :  7
DS :  14
19
Deep Learning
MS-Excel
Machine Learning
Statistical Modeling
Python :  7
R :  14
DS :  21
31
MS-Excel
Deep Learning
Machine Learning
MySQL
Natural Language Processing (NLP)
Statistical Modeling
Python :  3
R :  3
DS :  3
3
MS-Excel
SQL
Python :  7
R :  14
DS :  14
19
Machine Learning
Natural Language Processing (NLP)
SQL
Statistical Modeling
Python :  10
R :  17
DS :  24
24
Machine Learning
Deep Learning
MS-Excel
MySQL
Natural Language Processing (NLP)
Neural Networks
Statistical Modeling
Python :  7
R :  14
DS :  14
17
Machine Learning
Natural Language Processing (NLP)
Statistical Modeling
MySQL

In [70]:
type(d.head(1)['Other skills'].values[0])

str

In [72]:
d.head()

,Application_ID,Current City,Python (out of 3),R Programming (out of 3),Data Science (out of 3),Other skills,Institute,Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10
0,DS0001,Bangalore,1,0,3,"Machine Learning, Arduino, C Programming, CSS,...",Global Academy of Technology,Bachelor of Engineering (B.E),Electrical and Electronics Engineering,2019,NaN,7.73/10,NaN,NaN
1,DS0002,Mumbai,2,1,2,"AutoCAD, MS-Office, Machine Learning, Microsof...","Aegis School Of Business, Data Science, Cyber ...",NaN,PGP,2020,NaN,68.00/100,NaN,NaN
2,DS0003,Mumbai,2,0,0,"C++ Programming, Data Structures, Image Proces...","VJTI, Mumbai",Bachelor of Technology (B.Tech),Information Systems,2018,NaN,8.85/10,91.40/91.40,9.40/9.40
3,DS0004,Dhanbad,2,0,2,"Algorithms, C++ Programming, Data Structures, ...",IIT (ISM) Dhanbad,Integrated M.Tech,Mathematics and Computing,2021,NaN,8.40/10,91.80/91.80,10.00/10.00
4,DS0005,Bangalore,2,0,0,"MS-Word, Python, SQL, MS-Excel",Vvce,Bachelor of Engineering (B.E),Electronics and Communication,2018,NaN,NaN,NaN,NaN

In [73]:
d.head(1)['Python (out of 3)'].values[0]

1

In [76]:
d.iloc[0]['Python (out of 3)']

1

In [77]:
d.iloc[0]['Other skills']

'Machine Learning, Arduino, C Programming, CSS, Data Analytics, Data Structures, Deep Learning, HTML, Natural Language Processing (NLP), MATLAB, Python'

In [85]:
d.iloc[0]['Weightage']=21

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Anaconda3\lib\site-packages\pandas\core\indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [86]:
d.head()

,Application_ID,Current City,Python (out of 3),R Programming (out of 3),Data Science (out of 3),Other skills,Institute,Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10
0,DS0001,Bangalore,1,0,3,"Machine Learning, Arduino, C Programming, CSS,...",Global Academy of Technology,Bachelor of Engineering (B.E),Electrical and Electronics Engineering,2019,NaN,7.73/10,NaN,NaN
1,DS0002,Mumbai,2,1,2,"AutoCAD, MS-Office, Machine Learning, Microsof...","Aegis School Of Business, Data Science, Cyber ...",NaN,PGP,2020,NaN,68.00/100,NaN,NaN
2,DS0003,Mumbai,2,0,0,"C++ Programming, Data Structures, Image Proces...","VJTI, Mumbai",Bachelor of Technology (B.Tech),Information Systems,2018,NaN,8.85/10,91.40/91.40,9.40/9.40
3,DS0004,Dhanbad,2,0,2,"Algorithms, C++ Programming, Data Structures, ...",IIT (ISM) Dhanbad,Integrated M.Tech,Mathematics and Computing,2021,NaN,8.40/10,91.80/91.80,10.00/10.00
4,DS0005,Bangalore,2,0,0,"MS-Word, Python, SQL, MS-Excel",Vvce,Bachelor of Engineering (B.E),Electronics and Communication,2018,NaN,NaN,NaN,NaN

In [88]:
len(w)

611

In [89]:
d['Weightage'] = w

In [90]:
d.head()

,Application_ID,Current City,Python (out of 3),R Programming (out of 3),Data Science (out of 3),Other skills,Institute,Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10,Weightage
0,DS0001,Bangalore,1,0,3,"Machine Learning, Arduino, C Programming, CSS,...",Global Academy of Technology,Bachelor of Engineering (B.E),Electrical and Electronics Engineering,2019,NaN,7.73/10,NaN,NaN,30
1,DS0002,Mumbai,2,1,2,"AutoCAD, MS-Office, Machine Learning, Microsof...","Aegis School Of Business, Data Science, Cyber ...",NaN,PGP,2020,NaN,68.00/100,NaN,NaN,26
2,DS0003,Mumbai,2,0,0,"C++ Programming, Data Structures, Image Proces...","VJTI, Mumbai",Bachelor of Technology (B.Tech),Information Systems,2018,NaN,8.85/10,91.40/91.40,9.40/9.40,12
3,DS0004,Dhanbad,2,0,2,"Algorithms, C++ Programming, Data Structures, ...",IIT (ISM) Dhanbad,Integrated M.Tech,Mathematics and Computing,2021,NaN,8.40/10,91.80/91.80,10.00/10.00,26
4,DS0005,Bangalore,2,0,0,"MS-Word, Python, SQL, MS-Excel",Vvce,Bachelor of Engineering (B.E),Electronics and Communication,2018,NaN,NaN,NaN,NaN,18

In [93]:
d.to_csv('Weightages.csv')

In [97]:
df = d.drop(columns=['Application_ID','Current City','Institute','Stream','Performance_12','Performance_10'],axis=1)

In [98]:
df

,Python (out of 3),R Programming (out of 3),Data Science (out of 3),Other skills,Degree,Current Year Of Graduation,Performance_PG,Performance_UG,Weightage
0,1,0,3,"Machine Learning, Arduino, C Programming, CSS,...",Bachelor of Engineering (B.E),2019,NaN,7.73/10,30
1,2,1,2,"AutoCAD, MS-Office, Machine Learning, Microsof...",NaN,2020,NaN,68.00/100,26
2,2,0,0,"C++ Programming, Data Structures, Image Proces...",Bachelor of Technology (B.Tech),2018,NaN,8.85/10,12
3,2,0,2,"Algorithms, C++ Programming, Data Structures, ...",Integrated M.Tech,2021,NaN,8.40/10,26
4,2,0,0,"MS-Word, Python, SQL, MS-Excel",Bachelor of Engineering (B.E),2018,NaN,NaN,18
...,...,...,...,...,...,...,...,...,...
606,2,2,2,"AutoCAD, MS-Excel, Deep Learning, Machine Lear...",Bachelor of Engineering (B.E),2020,NaN,9.00/10,49
607,1,0,0,"MS-Excel, HTML, Python, SQL",PG Diploma in Data Science,2020,NaN,NaN,9
608,2,2,0,"Data Analytics, Machine Learning, Natural Lang...",Bachelor of Technology (B.Tech),2016,NaN,61.00/100,31
609,3,2,2,"Data Analytics, Machine Learning, Python, C Pr...",Bachelor of Science (B.Sc),2018,NaN,NaN,45
610,2,2,0,"Computer Vision, Data Analytics, Image Process...",Master of Technology (M.Tech),2016,7.15/10,NaN,29

In [99]:
s = []
for i in range(len(df)):
    if(df.iloc[i]['Weightage']>=40):
        s.append(1)
    else:
        s.append(0)

In [100]:
len(s)

611

In [101]:
df['Class'] = s

In [103]:
df

,Python (out of 3),R Programming (out of 3),Data Science (out of 3),Other skills,Degree,Current Year Of Graduation,Performance_PG,Performance_UG,Weightage,Class
0,1,0,3,"Machine Learning, Arduino, C Programming, CSS,...",Bachelor of Engineering (B.E),2019,NaN,7.73/10,30,0
1,2,1,2,"AutoCAD, MS-Office, Machine Learning, Microsof...",NaN,2020,NaN,68.00/100,26,0
2,2,0,0,"C++ Programming, Data Structures, Image Proces...",Bachelor of Technology (B.Tech),2018,NaN,8.85/10,12,0
3,2,0,2,"Algorithms, C++ Programming, Data Structures, ...",Integrated M.Tech,2021,NaN,8.40/10,26,0
4,2,0,0,"MS-Word, Python, SQL, MS-Excel",Bachelor of Engineering (B.E),2018,NaN,NaN,18,0
...,...,...,...,...,...,...,...,...,...,...
606,2,2,2,"AutoCAD, MS-Excel, Deep Learning, Machine Lear...",Bachelor of Engineering (B.E),2020,NaN,9.00/10,49,1
607,1,0,0,"MS-Excel, HTML, Python, SQL",PG Diploma in Data Science,2020,NaN,NaN,9,0
608,2,2,0,"Data Analytics, Machine Learning, Natural Lang...",Bachelor of Technology (B.Tech),2016,NaN,61.00/100,31,0
609,3,2,2,"Data Analytics, Machine Learning, Python, C Pr...",Bachelor of Science (B.Sc),2018,NaN,NaN,45,1
610,2,2,0,"Computer Vision, Data Analytics, Image Process...",Master of Technology (M.Tech),2016,7.15/10,NaN,29,0

In [120]:
skills_count=[]
for i in range(len(df)):
    count=0
    os=df.iloc[i]['Other skills']
    if(type(os) == str):
        os = os.split(', ')
        for j in os:
            if j in Other_skills:
                count +=1
    skills_count.append(count)

In [122]:
skills_count

[3,
 3,
 0,
 4,
 2,
 1,
 2,
 2,
 3,
 1,
 2,
 3,
 1,
 0,
 3,
 0,
 4,
 1,
 3,
 2,
 1,
 0,
 2,
 2,
 4,
 0,
 3,
 2,
 1,
 0,
 2,
 2,
 1,
 2,
 3,
 3,
 1,
 1,
 0,
 2,
 4,
 1,
 5,
 2,
 4,
 0,
 4,
 1,
 0,
 1,
 3,
 3,
 2,
 5,
 3,
 0,
 0,
 2,
 1,
 2,
 2,
 0,
 2,
 1,
 1,
 0,
 4,
 1,
 1,
 2,
 2,
 3,
 4,
 2,
 1,
 3,
 3,
 2,
 1,
 1,
 1,
 3,
 5,
 2,
 4,
 5,
 2,
 2,
 0,
 1,
 4,
 1,
 2,
 1,
 2,
 2,
 4,
 2,
 5,
 4,
 3,
 3,
 4,
 1,
 3,
 1,
 3,
 1,
 0,
 2,
 3,
 2,
 2,
 0,
 2,
 1,
 0,
 2,
 2,
 2,
 0,
 3,
 4,
 4,
 1,
 1,
 3,
 2,
 3,
 4,
 1,
 2,
 2,
 3,
 1,
 5,
 3,
 2,
 3,
 0,
 5,
 2,
 3,
 2,
 5,
 2,
 2,
 4,
 2,
 4,
 2,
 0,
 2,
 1,
 4,
 1,
 2,
 5,
 2,
 1,
 1,
 3,
 5,
 3,
 2,
 5,
 2,
 1,
 1,
 1,
 2,
 6,
 4,
 3,
 3,
 2,
 4,
 0,
 2,
 6,
 0,
 1,
 0,
 0,
 4,
 2,
 6,
 1,
 2,
 1,
 2,
 0,
 0,
 5,
 1,
 4,
 4,
 3,
 4,
 1,
 2,
 3,
 4,
 0,
 2,
 0,
 2,
 1,
 1,
 4,
 2,
 3,
 6,
 4,
 0,
 6,
 2,
 2,
 5,
 4,
 2,
 1,
 4,
 5,
 3,
 4,
 4,
 7,
 1,
 2,
 5,
 2,
 3,
 1,
 2,
 3,
 1,
 3,
 0,
 3,
 3,
 1,
 2,
 2,
 5,
 1,
 2,
 8,
 4,
 1,
 4,
 0,
 2,
 3,
 1,
 4,
 0,
 1,
 1,
 4,
 3,
 3,
 3,
 0,
 2,
 1,
 1,
 2,
 1,
 1,
 8,
 0,
 2,
 2,
 4,
 3,
 3,
 4,
 3,
 3,
 1,
 3,
 0,
 2,
 3,
 2,
 1,
 3,
 0,
 2,
 4,
 0,
 5,
 4,
 0,
 0,
 1,
 3,
 1,
 4,
 4,
 2,
 5,
 3,
 4,
 2,
 2,
 3,
 3,
 3,
 1,
 2,
 3,
 3,
 4,
 3,
 1,
 1,
 0,
 2,
 1,
 0,
 1,
 4,
 2,
 0,
 1,
 7,
 3,
 0,
 2,
 0,
 3,
 1,
 4,
 3,
 3,
 1,
 3,
 2,
 4,
 1,
 2,
 2,
 2,
 2,
 4,
 3,
 2,
 3,
 1,
 2,
 2,
 1,
 3,
 3,
 4,
 1,
 2,
 3,
 1,
 4,
 0,
 2,
 2,
 1,
 5,
 2,
 1,
 4,
 5,
 3,
 2,
 3,
 3,
 1,
 3,
 4,
 1,
 3,
 7,
 2,
 2,
 5,
 3,
 2,
 2,
 1,
 2,
 6,
 0,
 0,
 2,
 7,
 2,
 1,
 2,
 0,
 3,
 3,
 5,
 2,
 3,
 4,
 4,
 1,
 4,
 2,
 1,
 0,
 3,
 2,
 0,
 3,
 2,
 0,
 1,
 1,
 2,
 2,
 5,
 3,
 1,
 0,
 4,
 3,
 2,
 3,
 2,
 1,
 0,
 3,
 1,
 2,
 7,
 1,
 2,
 0,
 2,
 2,
 2,
 0,
 3,
 3,
 1,
 2,
 4,
 1,
 1,
 0,
 4,
 2,
 1,
 2,
 2,
 2,
 1,
 4,
 3,
 2,
 2,
 4,
 3,
 2,
 1,
 3,
 0,
 4,
 1,
 2,
 2,
 3,
 1,
 2,
 1,
 2,
 1,
 2,
 2,
 1,
 2,
 4,
 2,
 0,
 4,
 2,
 3,
 5,
 4,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 5,
 0,
 4,
 0,
 0,
 0,
 1,
 2,
 3,
 1,
 2,
 3,
 2,
 3,
 1,
 3,
 1,
 1,
 3,
 4,
 1,
 3,
 1,
 3,
 2,
 3,
 2,
 1,
 4,
 0,
 0,
 2,
 4,
 4,
 1,
 2,
 3,
 4,
 3,
 3,
 2,
 5,
 2,
 1,
 3,
 2,
 4,
 3,
 4,
 2,
 1,
 2,
 2,
 2,
 1,
 0,
 2,
 1,
 3,
 4,
 2,
 3,
 1,
 0,
 2,
 4,
 0,
 2,
 1,
 5,
 3,
 5,
 3,
 4,
 3,
 4,
 5,
 1,
 3,
 4,
 2,
 1,
 1,
 4,
 3,
 4,
 1,
 0,
 6,
 3,
 3,
 2,
 1,
 4,
 1,
 6,
 0,
 6,
 2,
 2,
 3,
 1,
 0,
 1,
 0,
 0,
 3,
 4,
 4,
 6,
 2,
 4,
 7,
 4]

In [124]:
df=df.drop(columns=['Other skills','Performance_PG','Performance_UG'],axis=1)

In [125]:
df['Skills Count'] = skills_count

In [126]:
df

,Python (out of 3),R Programming (out of 3),Data Science (out of 3),Degree,Current Year Of Graduation,Weightage,Class,Skills Count
0,1,0,3,Bachelor of Engineering (B.E),2019,30,0,3
1,2,1,2,NaN,2020,26,0,3
2,2,0,0,Bachelor of Technology (B.Tech),2018,12,0,0
3,2,0,2,Integrated M.Tech,2021,26,0,4
4,2,0,0,Bachelor of Engineering (B.E),2018,18,0,2
...,...,...,...,...,...,...,...,...
606,2,2,2,Bachelor of Engineering (B.E),2020,49,1,6
607,1,0,0,PG Diploma in Data Science,2020,9,0,2
608,2,2,0,Bachelor of Technology (B.Tech),2016,31,0,4
609,3,2,2,Bachelor of Science (B.Sc),2018,45,1,7
610,2,2,0,Master of Technology (M.Tech),2016,29,0,4

In [128]:
deg=[]
for i in range(len(df)):
    if((d.iloc[i]['Degree']=='Bachelor of Engineering (B.E)') or (d.iloc[i]['Degree']=='Bachelor of Technology (B.Tech)') or (d.iloc[i]['Degree']=='B.Tech (Hons.)') or (d.iloc[i]['Degree']=='Integrated B.Tech')):
        deg.append(1)
    elif((d.iloc[i]['Degree']=='Integrated M.Tech') or (d.iloc[i]['Degree']=='Master of Science (M.Sc)') or (d.iloc[i]['Degree']=='Master of Technology (M.Tech)') or (d.iloc[i]['Degree']=='Integrated M.Sc.') or (d.iloc[i]['Degree']=='Master of Science (M.Sc) (Hons.)')):
        deg.append(2)
    else:
        deg.append(0)

In [130]:
len(deg)

611

In [131]:
df['Degree']=deg

In [132]:
df

,Python (out of 3),R Programming (out of 3),Data Science (out of 3),Degree,Current Year Of Graduation,Weightage,Class,Skills Count
0,1,0,3,1,2019,30,0,3
1,2,1,2,0,2020,26,0,3
2,2,0,0,1,2018,12,0,0
3,2,0,2,2,2021,26,0,4
4,2,0,0,1,2018,18,0,2
...,...,...,...,...,...,...,...,...
606,2,2,2,1,2020,49,1,6
607,1,0,0,0,2020,9,0,2
608,2,2,0,1,2016,31,0,4
609,3,2,2,0,2018,45,1,7
610,2,2,0,2,2016,29,0,4

In [134]:
yr = df['Current Year Of Graduation']

In [136]:
yr[0]

2019

In [146]:
from sklearn.linear_model import LogisticRegression

In [175]:
X = df.drop(columns=['Class','Weightage'])
y = df['Class']

In [176]:
X

,Python (out of 3),R Programming (out of 3),Data Science (out of 3),Degree,Current Year Of Graduation,Skills Count
0,1,0,3,1,2019,3
1,2,1,2,0,2020,3
2,2,0,0,1,2018,0
3,2,0,2,2,2021,4
4,2,0,0,1,2018,2
...,...,...,...,...,...,...
606,2,2,2,1,2020,6
607,1,0,0,0,2020,2
608,2,2,0,1,2016,4
609,3,2,2,0,2018,7
610,2,2,0,2,2016,4

In [177]:
y

0      0
1      0
2      0
3      0
4      0
      ..
606    1
607    0
608    0
609    1
610    0
Name: Class, Length: 611, dtype: int64

In [178]:
clf = LogisticRegression(random_state=0).fit(X, y)

C:\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [179]:
clf.score(X, y)

0.983633387888707

In [180]:
from sklearn.model_selection import train_test_split

In [181]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=42)

In [182]:
clf = LogisticRegression(random_state=0).fit(X_train, y_train)
clf.score(X_test, y_test)

C:\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.9891304347826086

In [184]:
clf.predict([[2,2,2,1,2020,6]])

array([1], dtype=int64)

In [162]:
X_test.iloc[0]

Python (out of 3)                2
R Programming (out of 3)         0
Data Science (out of 3)          2
Degree                           0
Current Year Of Graduation    2017
Weightage                       23
Skills Count                     3
Name: 81, dtype: int64

In [185]:
y_test.iloc[0]

0

In [188]:
from sklearn.externals import joblib

In [189]:
joblib.dump(clf, 'logistic.pkl')

['logistic.pkl']

In [190]:
model = loaded_model = joblib.load('logistic.pkl')

In [193]:
model.predict([[2,2,2,1,2020,6]])[0]

1

In [192]:
df.to_csv('Processed_Info.csv')